*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow: hidden;
}

.card{
    background: rgba(0,0,0,0.45);
    padding: 35px 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 360px;
    width: 90%;
    box-shadow: 0 0 25px rgba(255,255,255,0.15);
    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

h2{
    margin-bottom: 10px;
}

p{
    font-size: 0.95rem;
    line-height: 1.4;
    opacity: 0.9;
}

input{
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    text-align: center;
    outline: none;
}

button{
    margin-top: 20px;
    padding: 14px 45px;
    border: none;
    border-radius: 12px;
    background: #6a19ff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(208, 126, 255, 0.6);
    transition: 0.3s;
}


button:hover{
    background: #f087fa;
    transform: scale(1.03);
}

#error{
    margin-top: 12px;
    color: #ffb3b3;      
    min-height: 20px;
    font-size: 0.9rem;
}

.shake{
    animation: shake 0.4s;
}

@keyframes shake{
    0%{ transform: translateX(0); }
    25%{ transform: translateX(-5px); }
    50%{ transform: translateX(5px); }
    75%{ transform: translateX(-5px); }
    100%{ transform: translateX(0); }
}
